<div class="flex-1 flex flex-col overflow-hidden">
  <p-table
    [value]="devices()"
    scrollHeight="flex"
    [scrollable]="true"
    [paginator]="true"
    [rows]="25"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [tableStyle]="{ 'min-width': '80rem' }"
    sortField="last_seen_at"
    [sortOrder]="-1"
    [dataKey]="'id'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="hostname" class="w-24">
          Hostname <p-sortIcon field="hostname" />
        </th>
        <th pSortableColumn="os" class="w-24">
          OS <p-sortIcon field="os" />
        </th>
        <th class="w-32">CPU</th>
        <th class="w-32">Memory</th>
        <th class="w-32">Disk</th>
        <th class="w-28 text-center">Net Down</th>
        <th class="w-28 text-center">Net Up</th>
        <th pSortableColumn="last_seen_at" class="w-40">
          Last Seen <p-sortIcon field="last_seen_at" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device>
      <tr>
        <td>{{ device.hostname }}</td>
        <td>
          <p-tag [value]="device.os" />
        </td>
        <td>
          @if (device.latest_metrics?.data?.cpu) {
              <span>{{ getCPUPercent(device.latest_metrics.data.cpu) }}%</span>
              <p-progressbar
                [value]="getCPUPercent(device.latest_metrics.data.cpu)"
                [showValue]="false"
              />

          } @else {
            <span class="text-surface-400">-</span>
          }
        </td>
        <td>
          @if (device.latest_metrics?.data?.ram) {
            <span>{{ device.latest_metrics.data.ram.percent }}%</span>
            <p-progressbar
              [value]="device.latest_metrics.data.ram.percent"
              [showValue]="false"
            />
          } @else {
            <span class="text-surface-400">-</span>
          }
        </td>
        <td>
          @if (device.latest_metrics?.data?.disk) {
            <span>{{ getTotalDiskPercent(device.latest_metrics.data.disk) }}%</span>
            <p-progressbar
              [value]="getTotalDiskPercent(device.latest_metrics.data.disk)"
              [showValue]="false"
            />
          } @else {
            <span class="text-surface-400">-</span>
          }
        </td>
        <td class="text-center">
          @if (device.latest_metrics?.data?.network) {
            <span>{{ formatSpeed(device.latest_metrics.data.network.rx_bytes_per_sec) }} MB/s</span>
          } @else {
            <span class="text-surface-400">-</span>
          }
        </td>
        <td class="text-center">
          @if (device.latest_metrics?.data?.network) {
            <span>{{ formatSpeed(device.latest_metrics.data.network.tx_bytes_per_sec) }} MB/s</span>
          } @else {
            <span class="text-surface-400">-</span>
          }
        </td>
        <td>{{ device.last_seen_at | date: 'short' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">No Tarnished have found their way here yet</td>
      </tr>
    </ng-template>
  </p-table>
</div>
